<?xml version="1.0"?>
<robot name="grogu">
    <link name="base">
        <visual>
            <geometry>
                <mesh filename=“base.stl" scale="0.001 0.001 0.001“/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename=“base.stl" scale="0.001 0.001 0.001“/>
            </geometry >
        </collision >
    </link>
</robot>